<app-template-full-width title="Commandes" *ngIf="collection$ | async as collection">
  <app-table-light [headers]="this.headers">
    <tr *ngFor="let order of collection">
      <td>
        <app-icon-edit (click)="goToEdit(order.id)"></app-icon-edit>
        <app-icon-delete (click)="deleteOrder(order.id)"></app-icon-delete>
      </td>
      <td>{{ order.prestaType }}</td>
      <td>{{ order.client }}</td>
      <td>{{ order.nbDays }}</td>
      <td>{{ order.unitPrice }}</td>
      <td>{{ order.nbDays | total: order.unitPrice | currency }}</td>
      <td>{{ order.nbDays | total: order.unitPrice : order.vat | currency }}</td>
      <td [appState]="order.state">
        <select (change)="changeState(order, $event)">
          <option [value]="state" *ngFor="let state of states" [selected]="state === order.state">{{ state }}</option>
        </select>
      </td>
    </tr>
  </app-table-light>
  <app-btn label="Add Order" route="add"></app-btn>
</app-template-full-width>
